$primary: #34495E;
$info: #CD5C5C;

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
    background-color:#ffffff;
}
img.mini{
    height:70px;
}